[submodule "sales"]
	path = sales
	url = https://github.com/tylerchurch/submodule-deployment-test-sales
[submodule "marketing"]
	path = marketing
	url = https://github.com/tylerchurch/submodule-deployment-test-marketing
[submodule "reports"]
	path = reports
	url = https://github.com/tylerchurch/submodule-deployment-test-reports
[submodule "one/two/three"]
	path = one/two/three
	url = https://github.com/tylerchurch/auto-repo-creation-test
[submodule "one/two/four"]
	path = one/two/four
	url = https://github.com/tylerchurch/auto-repo-creation-test2
